<h1> Class:  <%= @school_class.title %> </h1>
<h3> Room Number: <%= @school_class.room_number %> </h3>


<button><%= link_to 'Edit Information', edit_school_class_path %></button>
<button><%= link_to 'School Index', school_classes_path %></button>